#info li i, #info li img {
  padding-right: 5px;
}

#info {
  padding-top: 7px;
  padding-bottom: 5px;
  font-weight: bold;
}

#info li img {
  vertical-align: text-bottom;
}

#info li #message {
  margin: auto;
}

#search-buttons i {
  padding-right: 5px;
}

.container {
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}

.treeview .list-group-item {
  font-size: .9em;
  padding: 8px 10px;
}

.treeview span.indent {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.treeview .node-leaf span.glyphicon {
  display: none;
}

.treeview {
  /*font-family: monospace;
  font-size: small;*/
  font-weight: bold;
}

.treeview .node-leaf {
  font-weight: normal;
}